<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <a class="text-blue-500 ml-5 mt-3 inline-block mb-10" href="/">Go Back Home</a>
        <form action="/edit" method="post">
                <input class="block text-white px-5 ml-5 mt-5 py-2 w-1/4 outline-none rounded-lg bg-zinc-800" type="text" placeholder="Previous name here" name="title" value="<%= filename %>">
                <input class="block text-white px-5 ml-5 mt-5 py-2 w-1/4 outline-none rounded-lg bg-zinc-800" type="text" placeholder="New name" name="previous">
                <input class="ml-5 mt-5 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update title">
        </form>
    </div>
</body>
</html> 